@model object

@{
    ViewBag.Title = "О нас";
    Layout = "_Layout";
}


<div>
    <div class="blog-post-title-custom">О нас<hr /></div>
    <div class="main-text-content">
        <p>
            Юридическая фирма «ТРАСТ» - одна из старейших белорусских юридических фирм-бутиков, предоставляющая полный комплекс услуг в сфере правового обеспечения ведения бизнеса на территории Беларуси.
            <br />
            <br />
            Фирма была основана в 1992 году сотрудниками юридической службы Союза предпринимателей Республики Беларусь: Евгением Лазаренковым и Владимиром Хвалеем. Энергия и талант основателей, а также сплоченная команда экономистов и аудиторов, стали поистине мощной силой, которая и по сей день обеспечивает прочные лидерские позиции юридической фирмы «ТРАСТ» на рынке.
            <br />
            <br />
            TGS Baltic (до 2017 г. Tark Grunte Sutkiene), юридическая фирма, предоставляющая полный спектр услуг на территории Литвы, Латвии и Эстонии, является стратегическим партнером ООО «Власова, Михель и Партнёры» и АБ «ВМП Власова, Михель и Партнёры» в странах Балтии, что позволяет расширить наши возможности на региональном уровне.
        </p>
    </div>
</div>