@model object

@{
    ViewBag.Title = "Контакты";
    Layout = "_Layout";
}


<div>
    <div class="blog-post-title-custom">Контакты<hr /></div>
    <div class="main-text-content">
        <p>
            Вы можете связаться с нами по следующим телефонам:
        </p>
        <p>
            +7 (812) 628-93-95;
        </p>
        <p>
            +7 (921) 916-04-59.
        </p>
        <p>
            Адрес:Санкт-Петербург, набережная  Обводного канала, дом 150, офис 408.
        </p>
        <p>
            Email:<a href="mailto:gsk-st@yandex.ru">gsk-st@yandex.ru</a>
        </p>
    </div>
</div>