@model object

@{
    ViewBag.Title = "Признание права собственности на самовольную постройку";
    Layout = "_Layout";
}


<div>
    <div class="blog-post-title-custom">Признание права собственности на самовольную постройку<hr /></div>
    <div class="main-text-content">
        <p>
            Признать право собственности на самовольную постройку вполне возможно, это предусмотрено судебной практикой и действующим законодательством.
        </p>
        <p>
            Службы, наделенные полномочиями на ввод объектов капитального строительства в эксплуатацию, не выдают акты ввода в эксплуатацию на объекты, не получавшие у них разрешения на строительство. Но закон регламентирует четко, что объекты, не введенные в эксплуатацию, не могут быть зарегистрированы как объекты недвижимости и на них не признается право собственности. Кроме того, они подлежат сносу за счет лица, осуществившего его создание, кроме случаев, в которых право собственности может быть признано судом!
        </p>
        <p>

            Отсутствие разрешение на строительство само по себе не может служить основанием для отказа в иске о признании права собственности на самовольную постройку. В то же время суду необходимо установить, предпринимало ли лицо, создавшее самовольную постройку, надлежащие меры к ее легализации в части получения разрешения на строительство,  так же правомерно ли отказал уполномоченный орган в выдаче такого разрешения или акта ввода в эксплуатацию.
        </p>
        <p>
            Действующее законодательство предусматривает возможность сохранения и признания права собственности на самовольное строение в случае отсутствия признаков нарушения прав и законных интересов граждан, градостроительного и иного действующего законодательства РФ, а так же если постройка не создает угрозу жизни или здоровью граждан.

            <br/>
            <br/>

            Обязанность доказывать отсутствие угрозы жизнью и здоровью граждан при сохранении самовольной постройки в силу ч.3. ст. 222 Гражданского кодекса РФ и Постановления Пленума Верховного суда РФ №10/22 от 29.04.2010 возлагается на лицо, обратившееся в суд с иском о признании права собственности.
            <br/>
            <br/>
            ГСК-Строй поможет Вам признать право собственности на самовольную постройку и защитить Ваши интересы в суде!
        </p>
    </div>
</div>