@model object

@{
    ViewBag.Title = "Узаконить индивидуальное жилое строение через суд (ИЖС)";
    Layout = "_Layout";
}


<div>
    <div class="blog-post-title-custom" style="font-size: 28px">Узаконить индивидуальное жилое строение через суд (ИЖС)<hr /></div>
    <div class="main-text-content">
        <p>
            Понятие незаконной постройки определяется в 222 статье ГК РФ. В частности, это здания, строения, возведенные на земельном участке с определенными нарушениями:
            <ul>
                <li>
                    Земельный участок не предоставлялся в установленном порядке;
                </li>
                <li>
                    Разрешенное использование участка не предусматривает строительства данного объекта;
                </li>
                <li>
                    Постройка возведена без получения разрешения на строительство;
                </li>
                <li>
                    Постройка возведена с нарушением градостроительных, строительных норм и правил.
                </li>
            </ul>
        </p>
        <p>
            Если имеет место хоть одно из перечисленных нарушений, то такие постройки являются самовольными!
            <br/>
            Небольшой экскурс в историю. Еще не так давно индивидуальные жилые строения  проходили регистрацию в кадастровой палате по декларации об объекте недвижимости и техническому плану, даже не смотря на то, что разрешение на строительство ИЖС были установлены 51 статьей Градостроительного кодекса.
        </p>
        <p>
            Эта схема себя не оправдала, потому что собственники возводили индивидуальные строения, не вникая в градостроительные нормативы, противопожарные правила, требования к режимам застройки в охранных зонах объектов культурного наследия, водоохранных зон и пр. Государство было вынуждено обязать собственников земельных участков действовать в рамках установленного градостроительного законодательства.
        </p>
        <p>
            Разумеется, получить разрешение на строительство нового объекта не особо сложно, если правила землепользования и застройки позволяют, а вот если объект уже существует, то районная администрация не всегда идет навстречу в части выдачи разрешения на строительство уже построенных объектов.
            <br />
            В таком случае остается только судебный путь, в ходе которого необходимо доказать, что постройка дома осуществлялась без нарушений градостроительных и строительных норм, постройка не угрожает жизни и здоровью граждан, и не нарушает прав третьих лиц.
            <br />
            Каждый объект индивидуален, компания ГСК-Строй предлагает Вам комплекс услуг по узаконению незаконных построек ИЖС.
        </p>
    </div>
</div>