@model object

@{
    ViewBag.Title = "Узаконить незаконную реконструкцию";
    Layout = "_Layout";
}


<div>
    <div class="blog-post-title-custom">Незаконная реконструкция, узаконить!<hr /></div>
    <div class="main-text-content">
        <p>
            Под определение Незаконная реконструкция чаще всего могут попадать  приспособления чердачных пространств к использованию под различные цели, а так же различные пристройки, надстройки или устройство антресолей и этажей в существующем объеме здания.
        </p>
        <p>
            Многие собственники предпочитают не ввязываться в бюрократические проволочки, связанные с проектированием, согласованием и вводом объекта в эксплуатацию законным путем. Но Градостроительный кодекс довольно четко определяет понятие «Реконструкция» как изменение параметров объекта капитального строительства, его частей (высоты, количества этажей, площади, объема), в том числе надстройка, пристройка, расширение объекта капитального строительства и пр.
        </p>
        <p>
            Кроме того, Градостроительный кодекс содержит регламент открытия строительных работ на объектах капитального строительства, а так же последующего ввода таких объектов в эксплуатацию.
            <br />
            Регистрация правоустанавливающих документов предусмотрена Федеральным  законом от 21.07.1997 №122-ФЗ « О государственной регистрации прав на недвижимое имущество и сделок с ним».
            <br />
            Оснований для регистрации права собственности на созданный объект в результате незаконной реконструкции нет, поскольку акт ввода в эксплуатацию отсутствует, а орган, уполномоченный на выдачу таких актов, осуществляет их подготовку только в случае, если данный объект возник на основании разрешения на строительство.
        </p>
        <p>
            Лицо, осуществившее самовольную постройку, не приобретает на нее право собственности. Оно не вправе распоряжаться постройкой, продавать, дарить, сдавать в аренду, совершать другие сделки.
        </p>
        <p>
            Самовольная постройка подлежит сносу осуществившим ее лицом, либо за его счет. Кроме случая, если  право собственности на самовольную постройку (реконструкцию) будет признанно через суд!
        </p>
    </div>
    <div class="blog-post-title-custom">Узаконить реконструкцию<hr /></div>
    <div class="main-text-content">
        <p>
            Отсутствие разрешения на строительство само по себе не может служить основанием для отказа в иске о признании права собственности на самовольную постройку (реконструкцию). В то же время суду необходимо установить, предпринимало ли лицо, создавшее самовольную постройку, надлежащие меры к ее легализации, в частности к получению разрешения на строительство и/или акта ввода в эксплуатацию, а так же правомерно ли отказал госорган в выдаче такого разрешения или акта ввода объекта в эксплуатацию.
            <br />
            Обязанность доказывать отсутствие угрозы жизнью и здоровью граждан при сохранении самовольной постройки в силу ч.3. ст. 222 Гражданского кодекса РФ и Постановления Пленума Верховного суда РФ №10/22 от 29.04.2010 возлагается на лицо, обратившееся в суд с иском о признании права собственности.
            <br />
            Необходимо доказать суду, что самовольная постройка (реконструкция) не нарушает градостроительные нормы и правила, отвечает необходимым критериям безопасности, а так же не нарушает прав других граждан.
        </p>
        <p>
            При назначении судебной строительно-технической экспертизы необходимо рассмотреть следующие вопросы:
            <br />
            <ul>
                <li>
                    Является ли построенный объект объектом капитального строительства?
                </li>
                <li>
                    Нарушены ли при возведении объекта строительные нормы и правила, санитарно-эпидемиологические нормы и правила?
                </li>
                <li>
                    Нарушены ли при возведении объекта градостроительные нормы и правила?
                </li>
                <li>
                    Представляет ли возведенный объект угрозу здоровью граждан?
                </li>
                <li>
                    Нарушает ли возведенный объект права и законные интересы третьих лиц?
                </li>
            </ul>
        </p>
        <p>
            В случае если отсутствуют несоответствия созданного объекта действующим градостроительным, строительным, противопожарным, санитарным нормам, а так же объект самовольной постройки (реконструкции) не создает угрозу жизнью и здоровью граждан и не ущемляет интересы других лиц, то такие исковые требования подлежат удовлетворению.
            <br />
            Специалисты ГСК-Строй узаконят самовольную реконструкцию (812)646-76-78
        </p>
    </div>
</div>