@model object

@{
    ViewBag.Title = "Узаконение незаконных построек";
    Layout = "_Layout";
}


<div>
    <div class="blog-post-title-custom">Самовольная постройка<hr /></div>
    <div class="main-text-content">
        <p>
            Самовольной постройкой считается здание или строение, возведенное на земельном участке без получения установленных законодательством необходимых согласований и  разрешений. Самовольная постройка может быть результатом, как нового строительства, так и следствием реконструкции существующего здания.
        </p>
        <p>
            Чаще всего такие объекты появляются в случаях, когда собственники на свой страх и риск возводят новые площади в надежде, что в последствии они смогут решить бумажные вопросы. Но данные вопросы далеко не всегда так просто решить!
        </p>
    </div>
    <div class="blog-post-title-custom">Узаконить самовольную постройку<hr /></div>
    <div class="main-text-content">
        <p>
            Специалисты ООО «ГСК-Строй» помогут Вам в подготовке необходимых документов для защиты Ваших интересов, как в государственных профильных комитетах, так и в судебных инстанциях.

            Согласно ст. 25 Федерального закона  о «Государственной регистрации прав на недвижимое имущество и сделок с ним» правоустанавливающие документы на объект недвижимости регистрируются на основании разрешения на ввод объекта в эксплуатацию.
        </p>
        <p>
            В свою очередь Градостроительный кодекс установил, что принимает в эксплуатацию и выдает акт ввода тот же орган, что осуществлял выдачу разрешения на строительство. (ч.2 ст. 55 Градостроительного кодекса РФ.)

            Соответственно, если разрешение на строительство не выдавалось (в случаях, когда получение разрешения на строительство необходимо), то созданный объект является самовольной постройкой и регистрация права на такую постройку предусмотрена только на основании решения суда.
        </p>
        <p>
            Разумеется, обязанность доказывать безопасность постройки и соблюдение нормативов в силу ч.3 ст. 222 ГК РФ и Постановления Пленума ВАС РФ №10/22 от 29.04.2010 возлагается на лицо, обратившееся в суд  с иском о признании права собственности.
        </p>
        <p>
            Сохранить самовольную постройку и получить на нее правоустанавливающие документы вполне возможно, но для этого необходимо доказать, что сохранение ее не нарушает права и законные интересы других лиц, не создает угрозы жизни и здоровью граждан, и что данная постройка соответствует градостроительным, противопожарным, экологическим требованиям. В случае предоставления Истцом доказательств отсутствия таких нарушений Иск о праве собственности подлежит удовлетворению.
        </p>
        <p>
            Защита Ваших интересов и Ваших инвестиций для нас главная задача. Право собственности на самовольные постройки Вам помогут получить специалисты ООО «ГСК-Строй» +7(812)646-76-78
        </p>
    </div>
</div>